body{
    font-family: Arial;
    margin: 0;
    min-width: 250px;
    background: black;
    box-sizing: border-box;
    min-height: 100vh;
}


*{
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
  }

.deleteButton {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.945);
    border: rgb(0, 0, 0);
    cursor: pointer;
    align-items: right;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    color: white;
    background: rgba(17, 17, 17, 0.918);
    font-size: 18px;
    transition: 0.3s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:nth-child(odd) {
    background: #111111d0;
  }

.header-top {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

.search{
    color: white;
    background-color: rgb(43, 43, 43);
    border: rgb(0, 0, 0);
    padding-bottom: 5px;
    padding-top: 5px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    
}

.note-date {
    font-size: 70%;
}

.note-title {
    font-weight: bold;
}

main {
    text-align: center;
}

.addNoteButton {
    height:50px; 
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 100%; 
    border: white;
    background-color: black;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}